*,
::after,
::before{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*head*/
header {
	width:100%; 
	overflow:hidden;
	background:#015073;
	margin-bottom:5px;
}

.wrapper {
	width:90%; 	
	margin:auto;
	overflow:hidden;
}

header .logo {
	color:#f2f2f2;
	font-size:40px;
	line-height:100px;
	float:left;
}

.logo   img{
    width: 50px;
}
header nav {
	float:right;
	line-height:100px;
}

header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
	background:#f56f3a;
	border-radius:50px;
}

.header2 {
	position: fixed;
	height:100px;
}

.header2 .logo {
	line-height:100px;
    font-size:40px;
    color: #f56f3a;
}

.header2 nav {
	line-height:100px;
}



/* acerca */
.Acerca-de{
    padding: 4px 80px;
}

.contenedor-acerca-de{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.card-acerca{
    width: 33%;   
    border-radius: 3px;
    padding: 20px 10px;
    margin-top: 20px;
}

.card-acerca h4{
margin: 2px 0px;
color: #00486D;
font-size: 30px;
}
.card-acerca p{
font-weight: 300;
padding: 0px 40px;
color: #00486D;
text-align: justify;
}
.img-card-acerca img{
    width: 30%;
    vertical-align: top;
}

/*asesoria*/
.Asesoria{
    background-color: #00486D;
    margin: 20px 0px;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight:bold;
    border-radius: 20px;
}
/*clientes*/

.clientes{
    display: flex;
    margin: 10px 20px;
    width: 100%;
    height: auto;
   flex-wrap: wrap;
   justify-content: space-around; 
}
.clientes-tex{
    overflow: hidden; 
    width: 50%;
    padding: 10px 10px;
    height: 200px;  
    margin: 10px 0px;
}

.clientes-tex h1{  
    margin: 20px 0px;
    color: #00486D;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
   
}

.clientes-tex h3{
   
    margin: 0px 20px;
   color: #00486D;;
    text-align: justify;
    
}

/*slider*/

.slider-contenedor{
    display: flex;
    width: 100%;
    height: 100%;
}

.slider_test{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
 
}

.slider_test img{
    width: 80%;
    height: 50%;
    object-fit:unset;
}


/*publicidad*/
.Publicidad{
    display: flex;  
    width: 100%;
    height: 150px; 
    margin: 5px 0px;
    
}
.Publicidad-tex{   
    width: 50%; 
    padding: 20px;
    border-radius: 20px;  
    margin: 5px;
}

.Publicidad-tex h1{
color: white;
font-size: 20px;
text-align: center;
}
.Publicidad-tex h3{
    color: white;
    font-size: 18px;
    text-align: justify;
}
.textos-header{
  padding-left: 40%;
  margin-top: 5px;
}
/*boton presupuesto*/
.textos-header a{
    display: inline-block;
    color:#00486D;
    text-decoration: none;
    border: 1px solid white;
    padding: 20px 5px;
    border-radius: 5px;
    font-weight: 700; 
    text-align: center;
    background-color: rgb(228, 221, 247);     
  
   }
   .textos-header a:hover{   
    background-color: #f56f3a;
    color: white;
    font-weight: 700; 
    padding: 20px 10px; 
    
   }



.galeria{
    display: flex;
    margin-top: 40px;
    width: 100%;
    height: auto;
   flex-wrap: wrap;
   justify-content: space-around;
}

.galeria-img{
    overflow: hidden;
    position: relative;
    width: 32%;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px rgb(97, 95, 95);
    border-radius: 20px;
}

.galeria-img img{
    object-fit: fill;
    width: 100%;
    height: 250px;
    vertical-align: top;
    transform: scale(1);
    transition: transform .6s ;
}

.galeria-img :hover{
    transform: scale(0.9);
}

.extra-galeria{
    position: absolute;
    top:0;
    background: #00486D;
    width: 100%;
    height: 100%;
    transform: translate(0,-100%);
    transition: transform .6s;
}

.galeria-img:hover .extra-galeria{
    transform: translate(0);
    padding: 20px;
}

.extra-galeria h3{
  
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin: 10px 0px;

}
.extra-galeria p{
   
    margin: 10px auto;
    color: #fff;
    font-weight: 300;
    text-align: justify;

}












   /* footer */

footer {
	width:100%;	
    background:#00486D; 
    display: flex;  
}
.footer-text {
    width: 50%;   
    display: flex;  
}
.footer-text h3{
    color:white;
    padding: 20px;
}

.footer-text img{ 
    padding: 10px 5px;
    align-content: center;
    width: 40px;
  }



