*,
::after,
::before{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*head*/
header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#252932;
	margin-bottom:5px;
}

.wrapper {
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:100%; /* Aqui le decimos que el ancho máximo sera de 100% */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}

header .logo {
	color:#f2f2f2;
	font-size:40px;
	line-height:100px;
	float:left;
}

header nav {
	float:right;
	line-height:100px;
}

header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
	background:#f56f3a;
	border-radius:50px;
}

.header2 {
	position: fixed;
	height:100px;
}

.header2 .logo {
	line-height:100px;
    font-size:40px;
    color: #f56f3a;
}

.header2 nav {
	line-height:100px;
}



/* acerca */
.Acerca-de{
    padding: 4px 80px;
}

.contenedor-acerca-de{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.card-acerca{
    width: 33%;   
    border-radius: 3px;
    padding: 20px 10px;
    margin-top: 40px;
}
.card-acerca i{
    font-size: 50px;
    display: block;
    color: red;
    margin-bottom: 15px;
}
.card-acerca h4{
margin: 30px 0px;
color: #00486D;
font-size: 30px;
}
.card-acerca p{
font-weight: 300;
margin-bottom: 30px;
color: #00486D;
}
.img-card-acerca img{
    width: 30%;
    vertical-align: top;
}




/*servicios*/

.servicio-contenedor{
    background: rgb(248, 236, 236);
}

.servicio{
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    height: 300px;   
    
}
.servicio .img-servicio{
    width: 40%;   
}
.servicio .img-servicio img{
    width: 100%;
    vertical-align: top;
    height: 250px; 
}
.servicio .contenido-servicio{
    width: 50%;
    padding-left: 60px;
}

.contenido-servicio h1{
    text-align: center;
    color: #00486D;
    margin-bottom: 10px;
}
.contenido-servicio h3{
    text-align: justify;
    margin-bottom: 10px;
    width: 90%;
    color: #00486D;
}

/*clientes*/

.clientes{
    display: flex;
    margin: 10px 20px;
    width: 100%;
    height: auto;
   flex-wrap: wrap;
   justify-content: space-around; 
}
.clientes-tex{
    overflow: hidden;
    position: relative;
    width: 50%;
    padding: 10px 10px;
    height: 200px;  
    margin: 20px 0px;
}

.clientes-tex h1{  
    margin: 20px 0px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
   
}

.clientes-tex h3{
    color: #00486D;
    margin: 0px 20px;
    color: white;
    text-align: justify;
    
}

/*slider*/
.contenedor-slider{
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: auto;
   flex-wrap: wrap;
   justify-content: space-around;
}
.slider-contenedorImage{
    width: 20%;
    height: 400px;
    background-color: blanchedalmond;
    display: flex;  
    align-items: center;
    flex-direction: column;
  
  
}
.slider-contenedor{
    display: flex;
    width: 100%;
    height: 100%;
}

.slider_test{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
 
}

.slider_test img{
    width: 80%;
    height: 50%;
    object-fit:unset ;
}

/*presupuesto*/

.Presupuesto{
    display: flex;  
    justify-content: space-around;
    width: 100%; 
    height: 200px;  
 
}
.Presupuesto-text{
    width: 50%; 
    padding: 0px 20px; 
}

.Presupuesto-text img{
    object-fit:contain;
    width: 100%;
    height: 100%; 

  
}

.Presupuesto-text-presupuesto h1{
    color: #00486D;
   padding-left: 40px;  
    
}

.Presupuesto-text-presupuesto h3{
    color: #00486D;
    padding-left: 40px;    
   
}
.textos-header
{
    margin: 50px 0px;
    text-align: center;
}
/*boton presupuesto*/
.textos-header a{
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 20px 5px;
    border-radius: 5px;
    font-weight: 700; 
    text-align: center;
    background-color: #00486D;     
  
   }
   .textos-header a:hover{   
    background-color: #f56f3a;
    color: white;
    font-weight: 700; 
    padding: 20px 10px; 
    
   }

   /* footer */

/*head*/
footer {
	width:100%;	
    background:#252932; 
    display: flex;  

}
.footer-text {
    width: 50%;   
    display: flex;  
}
.footer-text h3{
    color:white;
    padding: 20px;
}

.footer-text img{ 
    padding: 10px 5px;
    align-content: center;
    width: 40px;
  }

