*,
::after,
::before{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* acerca */
.Acerca-de{
    padding: 4px 80px;
}

.contenedor-acerca-de{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.card-acerca{
    width: 33%;   
    border-radius: 3px;
    padding: 20px 10px;
    margin-top: 40px;
}
.card-acerca i{
    font-size: 50px;
    display: block;
    color: red;
    margin-bottom: 15px;
}
.card-acerca h4{
margin: 30px 0px;
color: #00486D;
}
.card-acerca p{
font-weight: 300;
margin-bottom: 30px;
color: #00486D;
}
.img-card-acerca img{
    width: 20%;
    vertical-align: top;
}




/*servicios*/

.servicio-contenedor{
    background: rgb(248, 236, 236);
}

.servicio{
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    height: 300px;   
    
}
.servicio .img-servicio{
    width: 40%;   
}
.servicio .img-servicio img{
    width: 100%;
    vertical-align: top;
    height: 250px; 
}
.servicio .contenido-servicio{
    width: 50%;
    padding-left: 60px;
}

.contenido-servicio h1{
    text-align: center;
    color: #00486D;
    margin-bottom: 10px;
}
.contenido-servicio h3{
    text-align: justify;
    margin-bottom: 10px;
    width: 90%;
    color: #00486D;
}





